html,body {
    font-size: 16px;
    margin: 0;
    height: 100%;
}
h1,h2{
    margin: 0;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;    
}
body>header{
    overflow: hidden;
    padding: 5px 15px;
    background: #7d9aff;
    color: #001c7b;
}
body>header>h1{
    padding-left: 35px;
    background: transparent url(../a/icon.png) no-repeat 0 center;
    
    font-family: "黑体";
}
body>footer{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.btn{
    display: inline-block;
    background:hsl(208, 56%, 50%);
    border:1px solid hsl(208, 50%, 20%);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 6px;
    padding: 15px 10px;
    text-decoration: none;
    box-sizing: border-box;
    line-height: normal;
    text-align: center !important;
    text-indent: 0;
}
.btn:hover{
    background-color: hsl(208, 56%, 40%);
}
.btn:active{
    background-color: hsl(208, 100%, 20%);
}
.btn.btn-block{
    display: block !important;
    width: 100%;
}
.btn.gap{
    margin-left: 15px;
}

.twin-box{
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.twin-box>:first-child{
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.twin-box>:last-child{
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.rt{
    float: right;
}
.lt{
    float: left;
}
